@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #cfcfcf;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__title,
.section__subtitle {
  font-size: 0.8125rem;
}

.section__title {
  font-weight: 600;
}

.section__subtitle {
  font-weight: 500;
  color: #cfcfcf;
  opacity: 50%;
}

.section__description {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 15px 0;
}

.section__paragraph {
  font-weight: 500;
  opacity: 50%;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.testimonials__section {
  max-width: 75%;
  margin: 1rem auto;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  color: white;
}

.testimonials__section .card {
  padding: 20px;
  border-radius: 15px;
}

.testimonials__section .card .card__profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__section .card .card__profil img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.testimonials__section .card .card__profil .card__profil-txt {
  margin-left: 20px;
}

.testimonials__section .card1,
.testimonials__section .card5 {
  grid-column: span 2;
}

.testimonials__section .card1 {
  position: relative;
  background-color: #7541c8;
  z-index: 2;
}

.testimonials__section .card1 .card__profil img {
  border: 2px solid #cfcfcf;
}

.testimonials__section .card__1-quote {
  position: absolute;
  top: 0;
  right: 100px;
  z-index: -1;
}

.testimonials__section .card2 {
  background-color: #48556a;
}

.testimonials__section .card3,
.testimonials__section .card4 {
  color: #19212e;
  background-color: #ecf2f8;
}

.testimonials__section .card3 .section__subtitle,
.testimonials__section .card4 .section__subtitle {
  opacity: 100%;
}

.testimonials__section .card3 img,
.testimonials__section .card4 img {
  border: 2px solid #48556a;
}

.testimonials__section .card3 {
  grid-row: span 2;
}

.testimonials__section .card5 {
  background-color: #19212e;
}

.testimonials__section .card5 img {
  border: 2px solid #7541c8;
}

@media screen and (max-width: 1201px) {
  .card2,
  .card4 {
    grid-column: span 2;
  }
  .card3 {
    grid-row: span 1;
    grid-column: span 4;
  }
}

@media screen and (max-width: 801px) {
  .testimonials__section {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */